.lista-products ul {
    list-style-type: none;
    padding: 0;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid #ddd;
}

.product-item span {
    flex: 1;
    text-align: left;
}

.product-item button {
    margin-left: auto;
}
